/*
    Main style
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 60px;
    /* bottom = footer height */
    padding: 25px;
}

.main-wrap {
    width: 85%;
    margin: auto;
    padding: 30px;
    min-height: 100%;
}

.footer-wrap {
    margin-top: 40px;
    text-align: center;
}

footer {
    background-color: #F8F9FA;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    overflow: hidden;
    color: #909090;
}

/*
    Posts
 */

.post {
    position: relative;
    border: solid 2px gray;
    padding:10px;
    max-width: 600px;
    with: 600px;
    min-height: 180px;
    height: 120px;
}

.post .poster {
    /* background-color: red; */
    width: 20%;
    height: 100%;
    max-width: 115px;
    max-height: 125px;
    float: left;
    clear: both;
    border: 2px solid black;
    margin: 0 10px 10px 0;
}

.posterImg {
    margin: 6px auto;
    float: none;
    display: table;
}

.posterName {
    clear: left;
    float: left;
    font-size:20px;
    width: 100%;
    text-align: center;
}

.postDetailPanel {
    /* background-color: red; */
    width: 90%;
    height: 30px;
    position: absolute;
    bottom: 0;
    margin-left: 2px;
}
