/*
    Main style
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 60px;
    /* bottom = footer height */
    padding: 25px;
}

.main-wrap {
    width: 85%;
    margin: auto;
    padding: 30px;
    min-height: 100%;
}

.footer-wrap {
    margin-top: 40px;
    text-align: center;
}

footer {
    background-color: #F8F9FA;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    overflow: hidden;
    color: #909090;
}

/*
    Posts
 */

.post {
    position: relative;
    border: solid 2px gray;
    padding:10px;
    max-width: 600px;
    with: 600px;
    min-height: 180px;
}

.post .poster {
    /* background-color: red; */
    width: 120px;
    height: 100%;
    max-width: 115px;
    max-height: 125px;
    float: left;
    clear: both;
    border: 2px solid black;
    margin: 0 10px 10px 0;
}

.posterImg {
    margin: 6px auto;
    float: none;
    display: table;
}

.posterName {
    clear: left;
    float: left;
    font-size:20px;
    width: 100%;
    text-align: center;
}

.postDetailPanel {
    /* background-color: red; */
    width: 90%;
    height: 30px;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}

.postTextArea {
    min-width: 480px;
    min-height: 250px;
}

.postDate {
    float: right;
}

/*
    Comments
*/

.tree {
    border-left: 1px solid gray;
    padding-left: 10px;
}

.subTree {
    border-left: 1px solid gray;
    padding-left: 10px;
    margin-left: 15px;
}


.subReplyLink {
    margin-left: 10px;
    font-size: 15px;
}

.commentTextArea {
    min-width: 360px;
    min-height: 100px;
}

/*
    Users
*/

.listedUser {
    border: 1px solid black;
    max-width: 350px;
    min-height: 80px;
    margin-bottom: 10px;
}

.listedUser img {
    float: left;
}

.listedUser .userDetails {
    float: left;
    margin-left: 20px;
}

.usernameLink {
    font-size: 30px;

}

/*
    Home
*/

.statWrapContainer {
    width: 95%;
    margin: auto;
}

.statContainer {
    float: left;
    width: 33%;
    /* background-color: red; */
}

.statContainer h2 {
    text-align: center;
}

.statUserContainer {
    with: 100%;
}

.userHomeContainer {
    max-width: 350px;
    margin: auto;
}

.statUserContainer .userHomeContainer {
    margin: auto;
}

.statPostContainer .post {
    max-width: 530px;
    margin: auto;
}

.statTagContainer {
    text-align: center;
}


@media (max-width: 1600px) {
    .statContainer {
        width: 100%;
        margin-bottom: 40px;
    }
}
